# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Workspace\interview-prep\.idea/dataSources/
/../../../../:\Workspace\interview-prep\target/*.*
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
